spring:
    profiles:
        active: local

logging:
    level:
        no.skatteetaten.aurora: INFO
        org:
            hibernate: WARN
            springframework: WARN
            apache:
                catalina: WARN
                coyote: WARN
                velocity: WARN

server:
    tomcat:
        use-relative-redirects: true

integrations:
  openshift:
    tokenLocation: file:/var/run/secrets/kubernetes.io/serviceaccount/token
    url: https://kubernetes.default.svc.cluster.local

gobo:
    wait:
        afterDeletePodTime: 500

---
spring:
    profiles: local

openshift:
    cluster: utv

integrations:
  openshift:
    tokenLocation: file:/tmp/reader-token

logging:
    pattern:
        console: "%d [%-9.9thread] %highlight(%-5level) %cyan(%logger:%L) %X - %msg %n%rEx{full}"


